@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/NunitoSans_7pt-SemiBold.ttf);
    font-weight: 600;
}
@media (max-width: 320px){
    .navigation__link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 412px){
    .navigation__link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexBoxSoftware{
        flex-direction: column;
        align-items: center;
    }
}
body{
    font-family: "Nunito";
    font-weight: 200;
}
.navigation__link{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.navigation__link a{
    font-weight: bold;
    color: white;
}
a:hover{
    color: #D470FF;
}
.footerOne{
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}
.title{
    text-align: center;
    color: #D470FF;
    padding-top: 30px;
}
.flexBoxExp{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding-top: 30px;
    border-top: white solid;
}
.flexBoxExp a{
    color: #D470FF;
    text-decoration: none;
}
.workExp{
    padding-left: 70px;
}
.flexBoxSoftware{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    border-top: white solid;
    border-bottom: white solid;
}
